*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.heading{
    color: red;
    height: 50px;
    width: 200px;
    background-color: white;
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.game{
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn{
    height: 18vmin;
    width: 18vmin;
    margin: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,2);
    font-size: 12vmin;
    background-color: white;
}
.reset{
    background-color: black;
    color: white;
    font-size: 2vmin;
    border-radius: 1vmin;
    padding: 1vmin;
}
#new-btn{
    background-color: black;
    color: white;
    font-size: 2vmin;
    border-radius: 1vmin;
    padding: 1vmin;

}
#msg{
    font-size: 8vmin;
}
.msg-container{
    height: 700px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.hide{
    display:none;
}
.circle{
    color: red;
}
.nonCircle{
    color: green;
}
.change{
    color: green;
}